*/__pycache__/
*/result.csv
*/results/*
!*/results/model*.result.py

hw0/data/*

hw1/data/mfcc*
hw1/data/fbank*

hw2/MLDS_hw2_data/peer_review/*
hw2/MLDS_hw2_data/testing_data/*
hw2/MLDS_hw2_data/training_data/*

!hw4/results/sample_*.jpg
!hw4/results/iwgan*.py
